
body{background-color:#fff;}
body .mutiple-select {
    max-width: 100%;
    width: calc(100% - 10px);
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 0px;
    font-family: sans-serif;
    font-size: 18px;
    height: 50px;
    padding: 5px;
    margin-bottom: 5px;
    color: #111;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;

}
body .mutiple-select ::-webkit-scrollbar {
  width: 5px;
}
body .mutiple-select ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body .mutiple-select ::-webkit-scrollbar-thumb {
  background-color: #cdcdcd;
  border-radius: 5000000000000px;
}
body .mutiple-select .main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
  position: relative;
}
body .mutiple-select .main-content span {
  position: absolute;
  opacity: 0.5;
  color: #111;
  padding-left: 10px;
}
body .mutiple-select .main-content #chevron {
  width: 11px;
  margin-right: 5px;
}
body .mutiple-select .main-content .st1 {
  flex-grow: 0;
  fill: #111;
}
body .mutiple-select .main-content .selected-itens {
  width: calc(100% - 20px);
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}
body .mutiple-select .main-content .selected-itens.more::after {
  content: '...';
  position: absolute;
  line-height: 1;
  transform: translateY(-50%);
  top: 50%;
  color: #efefef;
  right: 5px;
}
body .mutiple-select .main-content .selected-itens .item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 2px 4px;
}
body .mutiple-select .main-content .selected-itens .item .image {
  width: 21px;
  height: 21px;
  margin-right: 2px;
  border-radius: 3px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body .mutiple-select .main-content .selected-itens .item .btn-remove {
  width: 15px;
  background: none;
  border: none;
  padding: 3px;
  margin-left: 2px;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
}
body .mutiple-select .main-content .selected-itens .item .btn-remove .st0 {
  fill: #333;
}
body .mutiple-select .main-content .selected-itens .item .btn-remove:hover .st0 {
  fill: #800;
}
body .mutiple-select .itens-list {
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  width: calc(100% - 1px);
  max-height: 260px;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 14px;
  padding: 20px;
  z-index: 999;
  overflow-y: scroll;
}
body .mutiple-select .itens-list .form-control {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 18px;
  height: 30px;
  padding: 5px;
  margin-bottom: 5px;
  color: #111;
  outline: none !important;
  box-shadow: 0 0 0 0 !important;
}
body .mutiple-select .itens-list .option-item {
  width: calc(100% - 5px);
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 3px;
}
body .mutiple-select .itens-list .option-item.select {
  border: none;
}
body .mutiple-select .itens-list .option-item.select input {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0 !important;
}
body .mutiple-select .itens-list .option-item.select:hover {
  background-color: #ffffff;
}
body .mutiple-select .itens-list .option-item:hover {
  background-color: #efefef;
}
body .mutiple-select .itens-list .option-item#search {
  padding: 0 !important;
  padding-bottom: 5px !important;
  background: none !important;
}
body .mutiple-select .itens-list .option-item:last-of-type {
  border: none;
  padding-bottom: 0;
}
body .mutiple-select .itens-list .option-item .image {
    width: 90px;
    height: 50px;
    margin-right: 15px;
    border-radius: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body .mutiple-select.slim {
  height: 25px;
  padding: 2px 5px;
}
body .mutiple-select.slim span {
  font-size: 15px;
}
body .mutiple-select.slim #chevron {
  width: 15px;
}
body .mutiple-select.slim .itens-list {
  padding: 2px;
  top: calc(100% + 2px);
  width: calc(100% - 6px);
}
body .mutiple-select.slim .itens-list .form-control {
  font-size: 15px;
  height: 25px;
  padding: 2px 5px;
  margin-bottom: 4px;
}
body .mutiple-select.slim .itens-list .option-item {
  padding: 2px 5px;
  font-size: 15px;
}
body .mutiple-select.slim .itens-list .option-item .image {
  width: 30px;
  height: 30px;
}

.green-bx{background: #fff; padding:40px 20px; border-radius: 10px; }
.form-control-label{text-transform: uppercase;font-size: 14px;}
.form-control-label span{color:red}
  .checkbox-green {
    --greenc: #4CAF50;
    --blue: #0D7EFF;
    --g08: #E1E5EB;
    --g04: #848ea1;
  }

  .checkbox-green img{width: 25px;}

  .checkbox-green .tgl {
    display: none;
  }
  .checkbox-green .tgl,
  .checkbox-green .tgl:after,
  .checkbox-green .tgl:before,
  .checkbox-green .tgl *,
  .checkbox-green .tgl *:after,
  .checkbox-green .tgl *:before,
  .checkbox-green .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  .checkbox-green .tgl::selection,
  .checkbox-green .tgl:after::selection,
  .checkbox-green .tgl:before::selection,
  .checkbox-green .tgl *::selection,
  .checkbox-green .tgl *:after::selection,
  .checkbox-green .tgl *:before::selection,
  .checkbox-green .tgl + .tgl-btn::selection {
    background: none;
  }
  .checkbox-green .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 46px;
    height: 20px;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: 9px;
    font-weight: 400;
    color: #fff;
  }
  .checkbox-green .tgl + .tgl-btn:after,
  .checkbox-green .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 44%;
    height: 100%;
  }
  .checkbox-green .tgl + .tgl-btn:after {
    left: 0;
  }
  .checkbox-green .tgl + .tgl-btn:before {
    display: inline;
    position: absolute;
    top: 5px;
  }
  .checkbox-green .tgl:checked + .tgl-btn:after {
    left: 56.5%;
  }

  .checkbox-green .tgl-ios + .tgl-btn {
    background: var(--g08);
    border-radius: 20rem;
    padding: 2px;
    transition: all 0.4s ease;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
	margin-bottom:0;
  }
  .checkbox-green .tgl-ios + .tgl-btn:after {
    border-radius: 2em;
    background: #fff;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .checkbox-green .tgl-ios + .tgl-btn:before {
    content: "OFF";
    left: 23px;
    color: var(--g04);
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	
  }
  .checkbox-green .tgl-ios + .tgl-btn:active {
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
  }
  .checkbox-green .tgl-ios + .tgl-btn:active:after {
    padding-right: 0.4em;
  }
  .checkbox-green .tgl-ios:checked + .tgl-btn {
    background: var(--greenc);
  }
  .checkbox-green .tgl-ios:checked + .tgl-btn:active {
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
  }
  .checkbox-green .tgl-ios:checked + .tgl-btn:active:after {
    margin-left: -0.4em;
  }
  .checkbox-green .tgl-ios:checked + .tgl-btn:before {
    content: "ON";
    left: 4px;
    color: #fff;
  }

